* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

h1 {
    text-align: center;
    color:white;
    font-size: 35px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin:auto;
}

#box {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width:120px;
    margin:15px;
}

.fizz-buzz {
    background-color: #f0466f;
}

.fizz {
    background-color: #0bd6a1 ;
}

.buzz {
    background-color: #ffd166 ;
}

.default {
    background-color: #1389b2;
}